:root{
    --background: pink;
    --calculator: rgb(208, 0, 208);
    --screen: white;
    --numb_button: white;
    --op_button: rgb(163, 160, 160);
    --submit_button: blue;
    --text: black;
}
*{
    box-sizing: border-box;
    margin: 0;
    border: red solid 2px;
}
body{
    background-color: var(--background);
    margin: 1em;
}
/*This is the body of the calculator*/
.calculator{
    width: 25em;
    height: 30em;
    background-color: var(--calculator);
    display: block;
    margin: auto;
    border-radius: 1em;
}
/*This is the screen where input and output is shown to the user*/
.screen{
    width: 20em;
    height: 10em;
    margin: 1em auto 1em auto;
    background-color: var(--screen);
}
/*This is the buttons being styled as a group*/
.buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
/*This is each individual button*/
.button{
    height: 2.5em;
    width: 5.5em;
    color: var(--text);
    background-color: var(--button);
}
.button:hover{
    background-color: gray;
}
/*Each unique button: number, operations and equals*/
.number{
    background-color: var(--numb_button);
}
.operation{
    background-color: var(--op_button);
}
.submit{
    background-color: var(--submit_button);
}
